.application-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darken($color: $background-light, $amount: 5);
    padding: 25px 50px;
    @media screen and (max-width: 400px) {
        padding: 10px 20px;
    }
    >p{
        font-size: 24px;
        font-weight: bold;
        font-family: $exotic-font;
        &.mobile{
            display: none;
            @media screen and (max-width: 400px) {
                display: block;
            }
        }

        &.desktop{
            @media screen and (max-width: 400px) {
                display: none;
            }
        }
    }
    > div{
        display: flex;
        gap: 20px;

        @media screen and (max-width: 400px) {
            gap: 10px;
        }
        
    }
}