.communities{
    
    margin: 0 3%;

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            margin:0 5%;
        }
    }

    &__bloc{

        > h4{
            text-decoration: underline;
            font-weight: 400;
        }

        &__contener{

            padding: 20px 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            @media screen and (max-width: 825px) {
                justify-content: center;
            }

            p{
                margin: 20px 10px;
            }

            .add-community{
                background: $background-light;
                width: 350px;
                height: 175px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                &__plus{
                    display: block;
                    height: 40px;
                    width: 10px;
                    background: darken($color: $background-light, $amount: 20);
                    border-radius: 5px;
                }
                &__plus:nth-child(1){
                    transform: rotate(90deg) translateY(-10px);
                }
                &.small{
                    transform: scale(0.7)
                    translateX(-70px);

                    @media screen and (max-width: 825px) {
                        transform: scale(0.7)
                        translateY(-30px);
                    }
                }
            }
        }
    }
}