.features {
    display: flex;
    flex-direction: column;

    h2{
        font-family: $main-font;
        font-size: 30px;
    }

    &__hero {
        min-height: 0vh;
        margin-top: 0px;
    }

    &__menu {
        margin: 0px 20px 0px;
        justify-items: center;

        &__grid-container {
            display: grid;
            grid-template-columns: repeat(3, minmax(250px, 1fr));
            grid-template-rows: repeat(2, minmax(100px, 1fr));  
            column-gap: 10%;
            row-gap: 16%;
        }
        
        &__grid-item {
            display: inline-block;  
            background: linear-gradient(135deg, $text-primary 0%, $color-5 100%);
            color: white;         
            padding: 3rem 3rem;       
            border-radius: 1rem;
            transition: transform 0.3s ease;   
        }

        &__grid-item:hover {
            transform: scale(1.2);
        }
    }

    &__FAQ-redirection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1%;

        &__arrow-container {
            display: grid;
            align-items: center;
        }

        &__arrow {
            margin-top: 50px;
        }

        &__title {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        &__title::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0; 
            height: 4px;
            width: 0%;
            background: linear-gradient(to right, $text-primary 0%, $color-5 100%); 
            transition: width 0.3s ease;
            border-radius: 2px;
        }

        .hero__title:hover::after {
            width: 100%;
        }
    }
}



.test1{
    background-color: blue;
}
.test2{
    background-color: red;
}
.test3{
    background-color: green;
}
.test4{
    background-color: yellow;
}
.test5{
    background-color: orange;
}
.test6{
    background-color: pink;
}