.home{
    margin: 0;
    display: flex;
    justify-content: space-around;

    h2, h3{
        display: inline-block;
        &::after{
            content: '';
            display: block;
            height: 7px;
            width: 100%;
            background: $gradient;
            border-radius: 2px;
        }
    }
}

.communities_contener{
    padding: 20px 45px;
    width: 48%;
    background: url('~/public/images/background.png') ;
    background-size: cover;

    border-radius: 5px;
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        a{
            text-decoration: underline;
        }
    }

    &__bloc{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

h1{
    margin: 60px 5%;
}

.proposals{
    width: 48%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__block{
        background-color: $background-light;
        padding: 20px 45px;
        border-radius: 5px;
        max-height: 45vh;
        overflow: hidden;
    }
    &__contener{
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow: scroll;
        max-height: 32vh;
        margin-top: 20px;
    }
}



