.invitation {
    display: flex;
    flex-direction: column;
  
    &__image {
        align-self: center;
        width: 65%;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 20px;

        @media screen and (max-width: 320px) {
            height: 150px; 
        }
    }
    
    &__content {
        align-self: center;
        width: 65%;
        margin-bottom: 20px;

        h2 {
            margin-bottom: 20px;
        }
    }

    &__community {
        display: flex;
        align-self: center;
        width: 65%;

        &-themes {
            display: flex;
            flex-direction: column;
            width: 50%;

            @media screen and (max-width: 320px) {
                width: 100%;
            }
    
            &-header {
                margin-bottom: 20px;
                width: 100%;
            }
    
            &-list {
                margin-bottom: 10%;
                margin-left: 15%;  
            }
        }

        &-verification {
            margin-top: 20px;
            margin-left: 13%; 

            Input {
                width: 215px;

                @media screen and (max-width: 320px){
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            @media screen and (max-width: 320px){
                margin-left: 0%;
                margin-bottom: 10%; 
            }
        }    

        @media screen and (max-width: 320px){
            display: flex;
            flex-direction: column;
        }
        
    }

    &__user-actions {
        display: flex;
        align-self: center;
        width: 65%;
        margin-bottom: 30px;
        gap: 4%; 

        Button {
            width: -webkit-fill-available;
        }

        @media screen and (max-width: 320px){
            margin-right: 10%;
        }
    }

    @media screen and (max-width: 320px){
        margin-right: 4%;
    }
}