.surveys{

    margin: 0 3% 50px 3%;

    h4{
        text-decoration: underline;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__about__informations{
        display: flex;
        gap: 20px;
        margin-bottom: 40px;

        &__item{
            padding: 15px 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 10px;
            p{
                &:nth-child(1){
                    font-size: 12px;
                }
                &:nth-child(2){
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                }
            }
            &--total{
                background: $color-1;
            }
            &--responses{
                background: $color-7;
            }
            &--average{
                background: $color-2;
            }
        }
    }

    &__list{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }
}