.theme {
    display: flex;
    margin: 80px 4rem;
    h2 {
        font-family: $main-font;
        font-size: 2.5rem;
    }

    h3 {
        font-family: $main-font;
        font-size: 1.25rem;
        color: white
    }

    p {
        max-width: none;
        color: black;
    }

    &__background {
        background: linear-gradient(135deg, $text-primary 0%, $color-5 100%);
        border-radius: 2rem;
    }

    &__interactions {
        display: flex ;
        flex-direction: column;
        gap: 2rem;
        min-width: 18vw;

        &__return-guide {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 70px;
            transition: filter 0.3s ease, transform 0.3s ease;
            cursor: pointer;
            position: sticky;
            top: 18%;
            gap: 5%;
            margin-bottom: 1%;

            > i{
                align-self: center;
                margin-left: 6%;
                font-size: 30px;
                color: white;
            }

            &:hover {
                filter: brightness(1.1);
                transform: scale(1.08);
            }
        }

        &__show-summary {
            display: none;
        }

        &__sidebar {
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 30%;

            > nav {
                margin-left: 10%;
            }

            > i {
                display : none;
                font-size: 30px !important;
                color: white;
            }

            &__section-title {
                margin: 2rem 0.5rem 1rem 2rem;
                font-size: 2rem !important;
                color: white;
            }

            &__summary {
                color: white;
                margin: 0rem 0rem 1rem 2rem;

                &__shortens {
                    display: block;
                    padding: 0.75rem 1rem;
                    font-size: 1rem;
                    color: white;
                    border-radius: 2rem;
                    transition: background-color 0.3s;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }

    &__content {
        width: 70%;
        padding-left: 3rem;
        &__section {
            margin-bottom: 5rem;
        }
    }
}

@media screen and (max-width: 1024px) {
    .theme {
        
        h2 {
            font-size: 2rem;
        }

        &__sidebar {
            margin: 3rem 0.5rem;

            &__summary {
                margin: 0rem 0rem 1rem 1rem;
            }
        }

        &__content {
            width: 78%;
            padding: 0 2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .theme {
        flex-direction: column;
        margin: 20px 3.5rem;

        h2 {
            font-size: 2.5rem;
            margin: 0 12px;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        h3 {
            font-size: 1.75rem;
        }

        &__background {
            width: 100%;
        }

        &__interactions {
            padding: 2rem 1rem;
            margin-left: 0rem;

            &__return-guide {

                > i{
                    align-self: center;
                    margin-left: 6%;
                    font-size: 30px;
                    color: white;
                }

                &__guide {
                    margin: 5%;
                }
            }

            &__show-summary {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                transition: filter 0.3s ease, transform 0.3s ease;
                cursor: pointer;

                &:hover {
                    filter: brightness(1.1);
                    transform: scale(1.08);
                }
            }

            &__sidebar {
                position: fixed;
                top: 0%;
                left: 0%;
                width: 90vw;
                height: 100vh;
                padding: 2rem 1rem;

                border-radius: 0rem 2rem 2rem 0rem;
                background: linear-gradient(135deg, $text-primary 0%, $color-5 100%);
                transform: translateX(-100%);
                transition: transform 0.3s ease;
                z-index: 100;

                > i {
                    display: block;
                    font-size: 40px !important;
                    color: white;
                    cursor: pointer;
                    align-self: self-end;
                }

                &.active {
                    box-shadow: 100px 0px 10px rgba(0,0,0,0.4);
                    transform: translateX(0);
                }
            }
        }

        &__content {
            width: 100%;
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 639px) {
    .theme{
      margin: 20px 0;
    }
  }