.theme {
    display: flex;

    h2 {
        font-family: $main-font;
        font-size: 2.5rem;
    }

    p {
        max-width: none;
        color: black;
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 22%;
        min-width: 250px;
        position: sticky;
        top: 20%;

        background: linear-gradient(135deg, $text-primary 0%, $color-5 100%);
        border-radius: 2rem;
        margin: 3rem 1rem;

        &__return-guide {
            display: inline-block;
            margin: 1.5rem auto 1rem 2rem;
            text-decoration: underline;
            color: white;
            cursor: pointer
        }

        &__section-title {
            margin: 0rem 0.5rem 1rem 2rem;
            font-size: 2rem !important;
            color: white;
        }

        &__summary {
            list-style: none;
            margin: 0rem 0rem 1rem 2rem;

            &__shortens {
                display: block;
                padding: 0.75rem 1rem;

                color: white;
                font-size: 1rem;
                text-decoration: none;
                border-radius: 2rem;
                transition: background-color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            &--active {
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &__content {
        width: 70%;
        padding: 3rem;

        &__content__section {
            margin-bottom: 5rem;
        }
    }
}

@media (max-width: 1024px) {
  .theme {
    flex-direction: row;

    h2 {
        font-size: 2rem;
    }

    &__sidebar {
        width: 18%;
        min-width: 200px;
        margin: 3rem 0.5rem;

        &__summary {
            margin: 0rem 0rem 1rem 1rem;
        }
    }

    &__content {
        width: 78%;
        padding: 2rem;
    }
  }
}