<head>
    <meta charset="UTF-8">
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
</style>
<body>
    <table style="max-width: 600px; margin: auto; font-family: 'Inter', Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <img style="height: 60px;" src="{{imageUrl}}/images/logo.png" alt="logo voteright.fr">
            </td>
        </tr>
        <tr>
            <td style="display: block; margin: auto; max-width: 600px;">
                <h1>Code de recuperation</h1>
                <p>Bonjour, </p>
                <p>Pour récupérer votre compte VoteRight veuillez vérifier votre identité en entrant le code suivant : </p>
                <p style="border: 1px solid rgb(160, 160, 160); display: block; width: min-content; padding: 5px; font-size: 16px;">
                    {{code}}
                </p>
                <p>Bon retour parmi nous !</p>
            </td>
        </tr>
    </table>
</body>
</html>