<head>
    <meta charset="UTF-8">
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
</style>
<body>
    <table style="max-width: 600px; margin: auto; font-family: 'Inter', Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <img style="height: 60px;" src="{{imageUrl}}/images/logo.png" alt="logo voteright.fr">
            </td>
        </tr>
        <tr>
            <td style="display: block; margin: auto; max-width: 600px;">
                <h1>Compte créé avec succès</h1>
                <p>Bonjour {{firstname}}, </p>
                <p>Votre compte <a style="color: unset;" href="https://voteright.fr">VoteRight.fr</a> a bien été créé. Vous pouvez désormais accéder à votre espace personnel. </p>
            </td>
        </tr>
        <tr>
            <td><a style="text-align: center; padding: 10px 40px; background: linear-gradient(100deg, #FDBE55 0%, #FB961F 32%, #DE3D59 69%, #8700CF 94%) #8700CF; color: #fff; border-radius: 10px; text-decoration: unset; margin-top: 20px; display: block; max-width: 150px;" href="https://voteright.fr">Accéder à votre espace</a></td>
        </tr>
    </table>
</body>
</html>