.index{

    @media screen and (max-width: 400px) {
        width: 100vw;
        margin: 0;
        padding: 20px;

        input, button{
            width: 100%
        }
    }

    h1{
        margin: 30px 0;

        @media screen and (max-width: 400px) {
            text-align: center;
        }
    }

    > div{
        margin: auto;
        display: block;
        width: 400px;
        align-content: center;
        height: 80vh;

        @media screen and (max-width: 400px) {
            width: calc(100vw - 40px);
            margin: 0;
        }
        
        > form{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

}