.btn{
    font-size: 1em;
    cursor: pointer;
    &--full{
        background: $gradient;
        color: $contrast;
        padding: 12px 24px;
        transition: .2s;
        box-shadow: inset 100vw 0 0 0 rgba(255, 255, 255, 0.0);
        border: 0px;
        border-radius: 5px;
        text-align: center;
        &:hover{
            box-shadow: inset 100vw 0 0 0 rgba(255, 255, 255, 0.15);
        }
        &:active{
            box-shadow: inset 100vw 0 0 0 rgba(255, 255, 255, 0.30);
        }
        &--header{
            background: $gradient;
            color: $contrast;
            padding: 20px 30px;
            transition: .2s;
            box-shadow: inset 11em 0 0 0 rgba(255, 255, 255, 0.0);
            &:hover{
                box-shadow: inset 11em 0 0 0 rgba(255, 255, 255, 0.15);
            }
            &:active{
                box-shadow: inset 11em 0 0 0 rgba(255, 255, 255, 0.30);
            }
            &__wrapper{
                background: $gradient;
                padding: 3px;
            }
        }
    }

    &--border{
        &--header{
            background: $contrast;
            padding: 20px 30px;
            transition:.5s;
            box-shadow: inset 8em 0 0 0 rgb(255, 255, 255);
            p{
                background: $gradient;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:hover{
                background: $gradient;
                box-shadow: inset 0em 0 0 0 rgba(255, 0, 0, 0);
                p{
                    color: $contrast;
                    -webkit-background-clip: content-box;
                    background-clip: content-box;
                    -webkit-text-fill-color: currentColor;
                    background: rgba($contrast, 0);
                }
            }
            &:active{
                box-shadow: inset 0 5em 0 0 rgba(255, 255, 255, 0.30);
                transition: 0s;
            }
            &__wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                background: $gradient;
                padding: 3px;
            }
        }
    }

    &--cancel{
        background: $neutral;
        color: $default;
        padding: 11px 24px;
        transition: .2s;
        border: 0;
        border-radius: 5px;
        text-align: center;
        &:hover{
            background: darken($color: $neutral, $amount: 10%);
        }
        &:active{
            background: darken($color: $neutral, $amount: 20%);
        }
    }

    &--plus{
        display: flex;
        align-items: center;
        justify-content: center;
        &__plus{
            display: block;
            height: 15px;
            width: 3px;
            background: $contrast;
            border-radius: 2px;
        }
        &__plus:nth-child(1){
            transform: rotate(90deg) translateY(-1px);
        }
        &__plus:nth-child(2){
            transform: translateX(-2px);
        }
    }

    &--responsive{
        display: none;
        @media screen and (max-width: 450px) {
            display: flex;
        }
    }

    &--responsive-hidden{
        @media screen and (max-width: 450px) {
            display: none;
        }
    }
    &:disabled{
        background: $background-light !important;
        color: lighten($color: $dark, $amount: 50);
    }

    &--block{
        display: block;
    }
    &--secondary{
        border: 2px solid $dark;
        padding: 12px 24px;
        transition: .2s;
        border-radius: 5px;
        text-align: center;
        &:hover{
            background: $color-2;
        }
    }
}