.comment{
    transition: .3s;
    &__sender{
        margin-bottom: 3px;
    }
    &__message{
        border: 1px solid $dark;
        border-radius: 5px;
        padding: 10px 20px;
        width: auto;
        transition: .3s;
        cursor: pointer;

        &:hover{
            background: darken($color: $background-light, $amount: 5);
        }
    }
    &__actions{
        border: 1px solid $dark;
        padding: 10px 20px;
        transition: .3s;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        cursor: pointer;
        button{
            appearance: none;
            border: 0;
            background: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        img{
            width: 28px;
            transition: .3s;
        }
        >div{
            display: flex;
            gap: 25px;
        }
        &__reaction{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    &__report-btn{
        transition: .2s;
        &:hover{
            text-decoration: underline;
        }
    }
}

.flip {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 50px;
    perspective: 1000px;
    &__inner {
        height: 100%;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }

    &__front, &__back{
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__front{
        overflow: hidden;
    }

    .flip__back {
        transform: rotateX(180deg);
        opacity: 1;
    }
}

.flip-state .flip__inner {
    transform: rotateX(180deg);
}


