.comment{
    &__sender{
        margin-bottom: 3px;
    }
    &__message{
        border: 1px solid $dark;
        border-radius: 5px;
        padding: 10px 20px;
        width: fit-content;
        transition: .2s;
        cursor: pointer;
        &:hover{
            background: darken($color: $background-light, $amount: 5);
        }
    }
}